@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


.formLabel {
  color: #666;
  font-size: 15px;
  padding-right: 2%;
  width: 30%
}

.formNote {
  color: #666;
  font-size: 13px;
  padding-right: 2%;
}


.formField {
  display:flex;
  border-bottom: 1px solid #eee;
  padding-bottom: 8px;
  align-items:flex-start
}

.formInput {
  padding:10px;
  border:2px #a6a5a5 solid;
  width:100%;
  font-size:15px;
}

.timerInput {
  color: #666;
  font-size: 15px;
  width: 32%;
  padding:10px;
  border:2px #a6a5a5 solid;
}

.formButton {
  color: rgb(247, 244, 244);
  font-size: 15px;
  padding: 1.5%;
  margin-right:1%;
  width: max-content;
  background-color:#616161;
  text-align:left;
  border-radius:5px;
  cursor:pointer;
}
